<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="settings" class="settings">
      <ion-icon name="settings" class="big"></ion-icon>
      <ion-label hidden="true">Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wind" class="wind">
      <ion-icon name="wind" src="assets/wind.svg" class="big"></ion-icon>
      <ion-label hidden="true">Wind</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parachute" class="parachute">
      <ion-icon name="parachute" src="assets/parachute.svg" class="big parachute"></ion-icon>
      <ion-label hidden="true" >Parachute</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>