<ion-header>

</ion-header>
<ion-content padding class="tab2Color">
    <ion-grid padding>
        <ion-row class="header ion-text-center">
            <ion-col size="4">Altitude</ion-col>
            <ion-col class="middleCol" size="4">Direction</ion-col>
            <ion-col size="4">Speed</ion-col>
        </ion-row>
        <ion-row *ngFor="let altitude of windData; let i = index;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">
            <ion-col size="4" class="ion-text-center">
                <ion-input class="altitudeInput" required type="number" [(ngModel)]="windData[i].altitude" readonly>
                </ion-input>
            </ion-col>
            <ion-col class="middleCol ion-text-center" size="4">
                <ion-input class="directionInput" required type="number" inputmode="numeric"
                    [(ngModel)]="windData[i].direction">
                </ion-input>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
                <ion-input class="speedInput" required type="number" inputmode="numeric"
                    [(ngModel)]="windData[i].speed">
                </ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>