<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      HAHO BT80
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmitDropSettingsSet()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="this.showAnswers">
    <ion-card-content>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col text-center size="6">
            <div class="square">
              <div class="squareContent" padding>
                <ion-icon name="compass"></ion-icon>
                <h1>{{ this.windVector | number: '3.0-0' }}&deg;</h1>
              </div>
            </div>
          </ion-col>
          <ion-col text-center size="6">
            <div class="square">
              <div class="squareContent" padding>
                <ion-icon name="speedometer"></ion-icon>
                <h1>{{ this.averageSpeed | number: '2.0-2'}} kts</h1>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row align-items-center>
            <ion-col text-center size="6">
              <div class="square">
                <div class="squareContent" padding>
                    <span class="squareLargeText">CNI</span>
                  <h1>{{ this.CNI | number: '0.0-2'}} kts</h1>
                </div>
              </div>
            </ion-col>
            <ion-col text-center size="6">
              <div class="square">
                <div class="squareContent" padding>
                  <ion-icon name="alarm"></ion-icon>
                  <h1>{{ this.timeCalculatedString }}</h1>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-list padding>
    <div [formGroup]="form">
      <ion-item-sliding #slidingItem>
        <ion-item color="primary">
          <ion-label>
            DZ Elevation
          </ion-label>
          <ion-input type="number" slot="end" formControlName="dzElevation"></ion-input>
          <ion-label slot="end">ft</ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="secondary">
            <ion-icon name="refresh" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding #slidingItem>
        <ion-item color="primary">
          <ion-label>
            Drop Altitude
          </ion-label>
          <ion-input type="number" slot="end" formControlName="dropAltitude"></ion-input>
          <ion-label slot="end">ft</ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="secondary">
            <ion-icon class="ion-text-right" name="refresh" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding #slidingItem>
        <ion-item color="primary">
          <ion-label>
            Dive Ratio
          </ion-label>
          <ion-input type="number" slot="end" formControlName="diveRatio"></ion-input>
          <ion-label slot="end" color="primary">&nbsp;&nbsp;</ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="secondary">
            <ion-icon name="refresh" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
    <ion-button fill="solid" expand="full" color="secondary" (click)="onSubmitDropSettingsSet()">Calculate!
    </ion-button>
  </ion-list>
  <ion-card>
    <ion-card-content>
      <ion-card-header>Possible Run:</ion-card-header>
      <ion-list>
        <ion-row>
          <ion-col size="6">
            <ion-item color="primary">
              <ion-input type="number" [(ngModel)]="this.possibleRunIn" (ionInput)="onChangePossibleRunIn($event)">
              </ion-input>
              <ion-label>nm</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              {{ this.runInKM }}
              <ion-label slot="end" class="ion-text-end">km</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>