<ion-header>
</ion-header>
<ion-content padding class="tab1Color">
  <div [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="white" lines="none">
            <ion-label>Jump Type</ion-label>
            <ion-select value="jumpType" formControlName="jumpType" interface="action-sheet" (ionChange)="onSubmitJumpTypeChanged($event)">
              <ion-select-option value="Standoff">Standoff</ion-select-option>
              <ion-select-option value="Freefall">Freefall</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="white" lines="none">
            <ion-label position="floating">Drop Altitude</ion-label>
            <ion-input required type="number" formControlName="dropAltitude"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.showFreefall">
        <ion-col>
          <ion-item class="white" lines="none">
            <ion-label position="floating">Actual Altitude</ion-label>
            <ion-input required type="number" formControlName="actualAltitude"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="white" lines="none">
            <ion-label position="floating">DZ Altitude</ion-label>
            <ion-input type="number" formControlName="dzElevation"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="white" lines="none">
            <ion-label>Sample Reference</ion-label>
            <ion-select value="notifications" interface="action-sheet" formControlName="verticalReference">
              <ion-select-option value="AMSL">AMSL</ion-select-option>
              <ion-select-option value="AGL">AGL</ion-select-option>
              <ion-select-option value="FL">FL</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="white" lines="none">
            <ion-label position="floating">Drive</ion-label>
            <ion-input required type="number" formControlName="diveRatio"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item lines="none">
        <ion-label class="white">Night Mode</ion-label>
        <ion-toggle (ngModel)="nightTheme" (ionChange)="onUpdateChangeTheme($event)" slot="end" color="light" [checked]="nightTheme">
        </ion-toggle>
      </ion-item>

      <ion-button padding fill="solid" expand="full" color="danger" (click)="onSubmitResetAllLocalStorage()">Reset All
        Local
        Data
      </ion-button>
    </ion-grid>
  </div>
</ion-content>