ion-content {
  --ion-background-color: #4cbaff;
}

h1 {
  size: 48px;
  font-weight: bold;
}

ion-label {
  &.white {
    color: #fff;
  }
}

p.white {
  color: #fff;
  font-weight: bold;
}

p.noPaddingBottom {
  padding-bottom: 0px;
  margin-bottom: 0px;
}