h1 {
  size: 48px;
  font-weight: bold;
}

ion-label {
  &.white {
    color: var(--ion-color-tab1-labels);
  }
}

p.white {
  color: var(--ion-color-tab1-labels);
  font-weight: bold;
}

p.noPaddingBottom {
  padding-bottom: 0px;
  margin-bottom: 0px;
}