<ion-header>
</ion-header>

<ion-content class="tab3Color">
  <ion-grid padding class="bottomBorder">
    <ion-row align-items-center>
      <ion-col padding text-left>
        <p>{{ this.jumpType }} </p>
        <p>Drop Alt: {{ this.dropAltitude }}' AMSL</p>
        <p *ngIf="showFreefall">Actual Alt: {{ this.actualAltitude }}' AGL</p>
        <p>DZ Elevation: {{ this.dzElevation }}'</p>
        <p>Sample reference: {{ this.verticalReference }}</p>
        <p>Drive Ratio: {{ this.driveRatio }} </p>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h1 *ngIf="showStandoff">Wind Vector: {{ this.windVector | number: '3.0-0' }}&deg;
          {{ this.averageSpeed | number: '1.0-0' }}kts</h1>
        <h1 *ngIf="showStandoff">Run In: {{ this.possRunInOne | number: '3.0-0' }}&deg; or
          {{ this.possRunInTwo | number: '3.0-0' }}&deg;</h1>
        <h1 *ngIf="showStandoff">CNI: {{ this.CNI | number: '1.0-0' }}kts</h1>
        <h1 *ngIf="showStandoff">Gross Error: {{ this.grossError | number: '1.0-1' }}nm</h1>
        <h1 *ngIf="showStandoff">Drive: {{ this.driveDisplay | number: '1.0-0' }}kts</h1>
        <h1 *ngIf="showFreefall">Hi Bal:
          {{ this.hiBalAngle | number: '3.0-0' }}&deg; {{ this.hiBalSpeed | number: '1.0-0' }}kts</h1>
        <h1 *ngIf="showFreefall">Lo Bal:
          {{ this.loBalAngle | number: '3.0-0' }}&deg; {{ this.loBalSpeed | number: '1.0-0' }}kts</h1>
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-row class="paddingTop">
        <ion-col size="5" offset="1">
          <ion-item class="white alignRight" lines="none">
            <ion-input type="number" (ionInput)="onChangePossibleRunIn($event)">
            </ion-input>
            <ion-label class="paddingLeft">nm</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item class="offwhite" lines="none">
            {{ this.runInKM }}
            <ion-label class="ion-text-end">km</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>

</ion-content>